article 
{
	width: 1000px;
	height:1000px;
	margin-left: auto;
 	margin-right: auto;
 	background-color: #4b4b4b;

}
header
{
	width: 100%;
	height: 100px;
	background-color: rgb(68,124,173);
	text-align: center;	

}
.pelicula
{
	color:#ffffff;
	padding-top: 1%;

}
.derechos
{
	padding-top: 2%;
	text-align: center;
}
footer
{
	width: 100%;
	height: 100px;
	color: #ffffff;
	background-color: rgb(68,124,173);

}


.superior 
{
	background-color: rgb(240,240,240);
	width: 1000;
	height: 650;
}
.izquierdo
{
	width: 440px;
	height:600px;
	float: left;
 	margin-left: 30px;
 	background-color: #ffffff;
 	margin-top: 25px;
}
.descripcion
{
	width:95%; 
	height:95%;
	margin-left:10px;
	margin-right: 10px;
}
.derecho
{
	width: 440px;
	height:600px;
	float: right;
 	background-color: #ffffff;
 	margin-right: 30px;
 	margin-top: 25px;
}
.inferior
{
	margin-top: 25px;
	background-color:#ffffff;
	width: 940px;
	height: 300px;
	margin-bottom: 25px;
	margin-left: 30px;
}
.hecho
{
	margin-left: 10px;
}

body
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
h5
{
	font-size: 20px;
}